# Food Data Analysis

<a id = 'top'></a>

# Contents

- [Libraries and Functions]
- [Exploratory Data Analysis](#eda)

# Libraries and Functions

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
#import sqlite3
#For the ORM:
#import sqlalchemy
##from sqlalchemy import create_engine #To connect to the database
#from sqlalchemy.orm import Session, sessionmaker #To interact with the database as object
#from sqlalchemy import inspect #To look at tables and column names

In [ ]:
#import plotly.plotly as py
#import plotly.figure_factory as ff

In [ ]:
#needs plotly password
#df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/school_earnings.csv")

#table = ff.create_table(df)
#py.iplot(table, filename='jupyter-table1')

In [2]:
#Instantiate a session of the ORM
#Connect to the sqlite database file
#engine = create_engine('sqlite:///foodb.db', echo = True)
#Bind a session factory to the engine
#Session = sessionmaker(bind=engine)
#Instantiate a session
#session = Session()

In [2]:
#An object to get a first look at the database
#inspector = inspect(engine)

In [27]:
#Make a dict of list of names of all the columns in all the tables
#for easy reference

#Get list of all table names
#table_names = inspector.get_table_names()

#table_columns = dict()
#For each table name
#for table in table_names:
#    column_names = []
    #for each column in the table, get just the name
#    for column in inspector.get_columns(table):
#        column_names.append(column['name'])
#    table_columns[table] = column_names

In [3]:
def get_value_from_cols(table, value):
    for column in table.columns:
        print(column, table[table[column] == value].shape[0])

<a id = 'eda'></a>

[(Back to top)](#top)

# Exploratory Data Analysis

<a id = 'eda_foods'></a>

In [6]:
# connect to db
#connection = sqlite3.connect('foodb.db')
#cur = connection.cursor()

In [4]:
df = pd.read_csv('food.tsv', sep = '\t')

/Users/ssrosa/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356027 entries, 0 to 356026
Columns: 163 entries, code to water-hardness_100g
dtypes: float64(107), object(56)
memory usage: 442.8+ MB

In [10]:
for column in df.columns:
    print(column)

code
url
creator
created_t
created_datetime
last_modified_t
last_modified_datetime
product_name
generic_name
quantity
packaging
packaging_tags
brands
brands_tags
categories
categories_tags
categories_en
origins
origins_tags
manufacturing_places
manufacturing_places_tags
labels
labels_tags
labels_en
emb_codes
emb_codes_tags
first_packaging_code_geo
cities
cities_tags
purchase_places
stores
countries
countries_tags
countries_en
ingredients_text
allergens
allergens_en
traces
traces_tags
traces_en
serving_size
no_nutriments
additives_n
additives
additives_tags
additives_en
ingredients_from_palm_oil_n
ingredients_from_palm_oil
ingredients_from_palm_oil_tags
ingredients_that_may_be_from_palm_oil_n
ingredients_that_may_be_from_palm_oil
ingredients_that_may_be_from_palm_oil_tags
nutrition_grade_uk
nutrition_grade_fr
pnns_groups_1
pnns_groups_2
states
states_tags
states_en
main_category
main_category_en
image_url
image_small_url
energy_100g
energy-from-fat_100g
fat_100g
saturated-fat_100g
-butyric-acid_100g
-caproic-acid_100g
-caprylic-acid_100g
-capric-acid_100g
-lauric-acid_100g
-myristic-acid_100g
-palmitic-acid_100g
-stearic-acid_100g
-arachidic-acid_100g
-behenic-acid_100g
-lignoceric-acid_100g
-cerotic-acid_100g
-montanic-acid_100g
-melissic-acid_100g
monounsaturated-fat_100g
polyunsaturated-fat_100g
omega-3-fat_100g
-alpha-linolenic-acid_100g
-eicosapentaenoic-acid_100g
-docosahexaenoic-acid_100g
omega-6-fat_100g
-linoleic-acid_100g
-arachidonic-acid_100g
-gamma-linolenic-acid_100g
-dihomo-gamma-linolenic-acid_100g
omega-9-fat_100g
-oleic-acid_100g
-elaidic-acid_100g
-gondoic-acid_100g
-mead-acid_100g
-erucic-acid_100g
-nervonic-acid_100g
trans-fat_100g
cholesterol_100g
carbohydrates_100g
sugars_100g
-sucrose_100g
-glucose_100g
-fructose_100g
-lactose_100g
-maltose_100g
-maltodextrins_100g
starch_100g
polyols_100g
fiber_100g
proteins_100g
casein_100g
serum-proteins_100g
nucleotides_100g
salt_100g
sodium_100g
alcohol_100g
vitamin-a_100g
beta-carotene_100g
vitamin-d_100g
vitamin-e_100g
vitamin-k_100g
vitamin-c_100g
vitamin-b1_100g
vitamin-b2_100g
vitamin-pp_100g
vitamin-b6_100g
vitamin-b9_100g
folates_100g
vitamin-b12_100g
biotin_100g
pantothenic-acid_100g
silica_100g
bicarbonate_100g
potassium_100g
chloride_100g
calcium_100g
phosphorus_100g
iron_100g
magnesium_100g
zinc_100g
copper_100g
manganese_100g
fluoride_100g
selenium_100g
chromium_100g
molybdenum_100g
iodine_100g
caffeine_100g
taurine_100g
ph_100g
fruits-vegetables-nuts_100g
fruits-vegetables-nuts-estimate_100g
collagen-meat-protein-ratio_100g
cocoa_100g
chlorophyl_100g
carbon-footprint_100g
nutrition-score-fr_100g
nutrition-score-uk_100g
glycemic-index_100g
water-hardness_100g

In [12]:
#Wtf?
df['main_category'].value_counts()

en:plant-based-foods-and-beverages           22950
en:beverages                                 14205
en:sugary-snacks                             12740
en:dairies                                    8086
en:groceries                                  6478
en:meats                                      5397
en:fresh-foods                                3562
en:meals                                      3005
en:spreads                                    2445
en:salty-snacks                               2384
en:fruit-juices                               2383
en:canned-foods                               1944
en:frozen-foods                               1715
en:seafood                                    1696
en:desserts                                   1383
en:fats                                        772
en:sandwiches                                  728
en:sweeteners                                  628
en:farming-products                            568
en:baby-foods                                  567
en:fruit-juices-and-nectars                    436
en:breakfasts                                  358
en:dietary-supplements                         337
en:dried-products                              328
en:vinegars                                    321
en:pickles                                     298
en:waffles                                     280
en:fish-and-meat-and-eggs                      248
en:crepes-and-galettes                         215
en:green-olives                                214
                                             ...
es:preparados-en-polvo-para-natillas             1
fr:boulange                                      1
fr:phytotherapie                                 1
es:boquerones-en-vinagre                         1
en:cayenne-pepper-sauce                          1
es:agua-mineral                                  1
fr:boisson-aux-fruits-a-base-de-concentre        1
de:grune-oliven-mit-paprikapaste                 1
en:apple-pear-juice                              1
pl:zupa                                          1
en:chicken-kievs                                 1
pt:grao                                          1
en:paste                                         1
fr:cafe-glace                                    1
en:almond-powder                                 1
fr:chocolats-en-tablette                         1
en:pecans                                        1
en:grape-juice-drink                             1
fr:kraft                                         1
en:crossiants                                    1
en:marshmallow-creme                             1
es:zumo-de-granada-natural-exprimido             1
en:pineapple-slices-in-juice                     1
de:fruchtetee                                    1
de:halvas                                        1
en:basa-fish                                     1
de:kaudragees                                    1
fr:cranberries-sucrees-et-sechees                1
fr:thes-glaces-saveur-mangue                     1
en:harengs                                       1
Name: main_category, Length: 3639, dtype: int64

In [8]:
df['countries_en'].value_counts()

United States                                                                                173159
France                                                                                       123961
Switzerland                                                                                   14932
Germany                                                                                        8470
Spain                                                                                          5529
United Kingdom                                                                                 5092
Belgium                                                                                        2936
Australia                                                                                      2201
Russia                                                                                         1582
France,Switzerland                                                                             1492
Italy                                                                                          1433
Canada                                                                                          973
Belgium,France                                                                                  759
Portugal                                                                                        738
Netherlands                                                                                     628
France,United Kingdom                                                                           580
Austria                                                                                         402
Czech Republic                                                                                  399
Brazil                                                                                          356
Sweden                                                                                          341
Japan                                                                                           335
France,Germany                                                                                  325
France,United States                                                                            296
Hungary                                                                                         290
Serbia                                                                                          273
Denmark                                                                                         271
France,Spain                                                                                    259
Thailand                                                                                        241
Romania                                                                                         235
Germany,Switzerland                                                                             222
                                                                                              ...
Peru,United States                                                                                1
Austria,France,Germany,Italy,Switzerland                                                          1
Algeria,Belgium,Egypt,France,Morocco,Qatar,Switzerland,Tunisia,United Arab Emirates               1
Australia,United Kingdom                                                                          1
Colombia,France                                                                                   1
Bosnia and Herzegovina,Republic of Macedonia,Serbia                                               1
Jersey                                                                                            1
Czech Republic,Hungary,Slovakia                                                                   1
Belgium,France,Germany,Italy                                                                      1
Canada,France,Germany,United Kingdom                                                              1
Netherlands,Switzerland                                                                           1
Luxembourg,Allemagne                                                                              1
Portugal,Romania,Spain                                                                            1
Panama,United States                                                                              1
France,Taiwan                                                                                     1
Bosnia and Herzegovina,Croatia,Montenegro,Republic of Macedonia,Serbia                            1
France,New Zealand,Singapore                                                                      1
Bulgaria,Czech Republic,Hungary,Lithuania,Moldova,Poland,Romania,Russia,Slovakia,Slovenia         1
Germany,Portugal                                                                                  1
China,Denmark,France,Spain,Sweden                                                                 1
China,France,Vietnam                                                                              1
France,Germany,Portugal,Switzerland                                                               1
United States,Other-日本,日本                                                                         1
Germany,Poland                                                                                    1
Australia,India                                                                                   1
Denmark,Finland,Greece,Norway,Portugal,Sweden                                                     1
France,Saudi Arabia                                                                               1
Denmark,Norway,Sweden                                                                             1
France,Sint Maarten                                                                               1
Germany,Luxembourg                                                                                1
Name: countries_en, Length: 779, dtype: int64

In [ ]:
#Just the plant-based

In [16]:
df_plant = df[df['main_category'] == 'en:plant-based-foods-and-beverages']

In [17]:
df_plant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22950 entries, 176 to 356020
Columns: 163 entries, code to water-hardness_100g
dtypes: float64(107), object(56)
memory usage: 28.7+ MB

In [18]:
df_plant['countries'].value_counts()

France                                                                      15224
España                                                                       2061
Deutschland                                                                  1519
United Kingdom                                                                487
Suisse                                                                        361
United States                                                                 317
Россия                                                                        282
Australia                                                                     232
US                                                                            158
Belgique                                                                      114
Germany                                                                       103
France,Suisse                                                                 101
France, Suisse                                                                 85
Spain                                                                          79
Portugal                                                                       72
Belgique,France                                                                68
Canada                                                                         62
Germany,Switzerland                                                            53
France,Espagne                                                                 47
France,Royaume-Uni                                                             46
Sverige                                                                        44
Italia                                                                         43
Serbia                                                                         40
Nederland                                                                      40
Switzerland                                                                    38
en:spain                                                                       35
Österreich                                                                     32
France,Allemagne                                                               31
Frankreich,Deutschland                                                         28
France, en:switzerland                                                         25
                                                                            ...
Saint Pierre and Miquelon, en:france, en:belgium                                1
France,Vanuatu                                                                  1
Albania,France                                                                  1
Arabie saoudite                                                                 1
Serbia,Belgium                                                                  1
Danemark,France,Guadeloupe                                                      1
Italy,France                                                                    1
Belgium,France,Germany,Ireland,Netherlands,Portugal,Spain,United Kingdom        1
Denmark,France, US                                                              1
Belgium,France,Portugal                                                         1
Österreich,Schweiz                                                              1
Saint-Pierre-et-Miquelon, en:france                                             1
Autriche                                                                        1
França,Portugal                                                                 1
République tchèque,France, Suisse                                               1
Ireland,United Kingdom, en:france                                               1
Australie,France, Suisse                                                        1
Irlande                                                                         1
Deutschland,Frankreich,Schweden,Dänemark                                        1
Germany, en:france,France                                                       1
Belgique, en:france, Suisse                                                     1
Royaume-Uni, en:france                                                          1
Schweiz,Deutschland                                                             1
Frankreich,Schweiz                                                              1
Danemark,Finlande,France                                                        1
Países Baixos,Portugal, en:france                                               1
França,Portugal,Espanha                                                         1
Francia,Hungría,España,Reino Unido                                              1
Canada,États-Unis                                                               1
香港                                                                              1
Name: countries, Length: 421, dtype: int64

In [19]:
france = df_plant[df_plant['countries'] == 'France']

In [20]:
france.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15224 entries, 184 to 356005
Columns: 163 entries, code to water-hardness_100g
dtypes: float64(107), object(56)
memory usage: 19.0+ MB

In [22]:
france['allergens'].value_counts()

blé                                                               863
blé, blé                                                          117
blé, œufs                                                         109
soja                                                               73
céleri                                                             64
gluten                                                             63
lait                                                               60
Amandes                                                            53
orge                                                               46
blé, oeufs                                                         41
avoine                                                             40
Cacahuètes                                                         38
Blé                                                                37
blé, gluten de blé                                                 37
sésame                                                             35
amandes                                                            35
blé, blé, blé                                                      32
sulfites                                                           28
blé, gluten                                                        26
Pistaches                                                          26
blé, blé, orge                                                     24
anhydride sulfureux                                                24
crème                                                              23
lait, lait                                                         22
blé, gluten, blé                                                   21
Noix de cajou                                                      20
Arachides                                                          20
noix                                                               20
blé, orge                                                          20
gluten, gluten                                                     18
                                                                 ...
blé, blé, lait, noisette, blé, lait                                 1
blé, froment, blé                                                   1
blé, soja, lactose, soja, soja, blé, soja, gluten, soja             1
vermicelles, blé, œuf, céleri, lait                                 1
seigle, orge, sésame                                                1
seigle, avoine, orge, froment                                       1
blé, blé, œufs, fromage, lactosérum, lactosérum, fromage            1
soja, soja, soja, blé, blé                                          1
blé, oeufs, lait, emmental, beurre,  blé                            1
Blé khorasan                                                        1
Avoine, blé, orge, blé, blé                                         1
Mozzarella, blé, blé, blé, œufs                                     1
soja, blé, œuf, blé, orge                                           1
crème, moutarde, moutarde, œuf                                      1
orge, blé, lait, beurre, lait, lait, céleri                         1
arachide, fruit à coque, sulfites                                   1
blé, œufs, lait, lait, blé                                          1
blé, beurre, œufs, œufs                                             1
blé, blé, blé, gluten de blé                                        1
blé, avoine, lactosérum, blé, noisettes                             1
avoine, blé, blé, blé, blé, orge, lait                              1
Pignon de pin                                                       1
blé, oeufs, fromage, comté, emmental, beurre                        1
avoine, Noix de cajou, Noisettes, Noix de pécan, Amandes, orge      1
blé, lactosérum, protéines de lait, orge                            1
céleri, céleri, céleri, blé                                         1
blé, œufs, fromage, comté, emmental, œufs, beurre                   1
crème, beurre, lactose, lait                                        1
avoine, lait, épeautre, avoine, blé, noisettes                      1
avoine, blé, blé, sulfites                                          1
Name: allergens, Length: 1833, dtype: int64

[(Back to top)](#top)

# Exploratory data analysis

<a id = 'eda_enzymes'></a>

## something

In [ ]:
###############################################################################################