Hello!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import sqlite3

In [ ]:
#import plotly.plotly as py
#import plotly.figure_factory as ff

In [50]:
#For the ORM:
import sqlalchemy 
from sqlalchemy import create_engine #To connect to the database
from sqlalchemy.orm import Session, sessionmaker #To interact with the database as object
from sqlalchemy import inspect #To look at tables and column names

In [ ]:
#needs plotly password
#df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/school_earnings.csv")

#table = ff.create_table(df)
#py.iplot(table, filename='jupyter-table1')

In [55]:
#Instantiate a session of the ORM
#Connect to the sqlite database file
engine = create_engine('sqlite:///foodb.db', echo = True)
#Bind a session factory to the engine
Session = sessionmaker(bind=engine)
#Instantiate a session
session = Session()

In [56]:
#An object to get a first look at the database
inspector = inspect(engine)

2019-03-09 20:49:12,106 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2019-03-09 20:49:12,108 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:12,109 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2019-03-09 20:49:12,110 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [57]:
#Make a dict of list of names of all the columns in all the tables
#for easy reference

#Get list of all table names
table_names = inspector.get_table_names()

tables_columns = dict()
#For each table name
for table in table_names:
    column_names = []
    #for each column in the table, get just the name
    for column in inspector.get_columns(table):
        column_names.append(column['name'])
    tables_columns[table] = column_names

2019-03-09 20:49:17,436 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2019-03-09 20:49:17,437 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,442 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compound_alternate_parents")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("compound_alternate_parents")

2019-03-09 20:49:17,443 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,446 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compound_external_descriptors")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("compound_external_descriptors")

2019-03-09 20:49:17,447 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,449 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compound_substituents")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("compound_substituents")

2019-03-09 20:49:17,451 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,454 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compound_synonyms")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("compound_synonyms")

2019-03-09 20:49:17,455 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,457 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compounds")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("compounds")

2019-03-09 20:49:17,459 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,463 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compounds_enzymes")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("compounds_enzymes")

2019-03-09 20:49:17,467 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,470 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compounds_flavors")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("compounds_flavors")

2019-03-09 20:49:17,471 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,473 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compounds_health_effects")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("compounds_health_effects")

2019-03-09 20:49:17,474 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,477 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compounds_pathways")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("compounds_pathways")

2019-03-09 20:49:17,478 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,480 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("enzymes")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("enzymes")

2019-03-09 20:49:17,482 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,484 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("flavors")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("flavors")

2019-03-09 20:49:17,486 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,488 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("food_taxonomies")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("food_taxonomies")

2019-03-09 20:49:17,489 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,491 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("foodcomex_compound_providers")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("foodcomex_compound_providers")

2019-03-09 20:49:17,492 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,495 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("foodcomex_compounds")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("foodcomex_compounds")

2019-03-09 20:49:17,495 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,498 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("foods")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("foods")

2019-03-09 20:49:17,499 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,502 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("health_effects")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("health_effects")

2019-03-09 20:49:17,503 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,506 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("nutrients")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("nutrients")

2019-03-09 20:49:17,507 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,509 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("pathways")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("pathways")

2019-03-09 20:49:17,510 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-03-09 20:49:17,513 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("references")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("references")

2019-03-09 20:49:17,514 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [59]:
tables_columns['foods']

['id',
 'name',
 'name_scientific',
 'description',
 'itis_id',
 'wikipedia_id',
 'wikipedia_id_img',
 'picture_content_type',
 'picture_file_size',
 'picture_updated_at',
 'legacy_id',
 'food_group',
 'food_subgroup',
 'food_type',
 'created_at',
 'updated_at',
 'creator_id',
 'updater_id',
 'export_to_afcdb',
 'category',
 'ncbi_taxonomy_id',
 'export_to_foodb']

In [61]:
pd.read_sql_query('''SELECT f.food_subgroup, 
                        COUNT(f.name) foods
                        FROM foods f
                        GROUP BY f.food_subgroup
                        ORDER BY foods DESC
                    ;''', engine)

2019-03-09 20:53:35,036 INFO sqlalchemy.engine.base.Engine SELECT f.food_subgroup,
                        COUNT(f.name) foods
                        FROM foods f
                        GROUP BY f.food_subgroup
                        ORDER BY foods DESC
                    ;

INFO:sqlalchemy.engine.base.Engine:SELECT f.food_subgroup,
                        COUNT(f.name) foods
                        FROM foods f
                        GROUP BY f.food_subgroup
                        ORDER BY foods DESC
                    ;

2019-03-09 20:53:35,038 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

                  food_subgroup  foods
0                        Fishes    111
1                         Herbs     61
2                       Berries     55
3               Tropical fruits     43
4                          Nuts     27
5               Root vegetables     24
6                        Spices     23
7                      Cabbages     20
8              Fruit vegetables     19
9               Leaf vegetables     19
10                      Cereals     18
11                     Mollusks     18
12                       Gourds     17
13                Oilseed crops     16
14                      Poultry     15
15                        Beans     14
16                 Baking goods     13
17                 Other dishes     13
18                  Crustaceans     12
19             Other vegetables     12
20                    Mushrooms     10
21                       Citrus      9
22                       Drupes      9
23              Leavened breads      9
24                      Candies      8
25              Cereal products      8
26          Other milk products      8
27                         Peas      8
28                      Seaweed      8
29                  Snack foods      8
..                          ...    ...
93                        Cocoa      1
94     Cocoa and cocoa products      1
95   Coffee and coffee products      1
96              Coffee products      1
97                    Dressings      1
98                         Eggs      1
99                      Equines      1
100               Fats and oils      1
101               Fish products      1
102                      Fruits      1
103            Green vegetables      1
104     Herb and spice mixtures      1
105            Herbs and Spices      1
106              Jewish cuisine      1
107                     Lentils      1
108           Levantine cuisine      1
109                  Marsupials      1
110               Meat products      1
111      Milk and milk products      1
112                        Ovis      1
113                      Pulses      1
114                         Roe      1
115                      Sauces      1
116                         Soy      1
117                      Sugars      1
118                Sweet breads      1
119                        Teas      1
120                Unclassified      1
121          Vegetable products      1
122                      Waters      1

[123 rows x 2 columns]

In [ ]:
#This encoding works with Windows.
foods = pd.read_csv('foods.csv', encoding = "ISO-8859-1")

In [ ]:
foods.head()

In [ ]:
compounds = pd.read_csv('compounds.csv', encoding = "ISO-8859-1")

In [ ]:
compounds_flavors = pd.read_csv('compounds_flavors.csv', encoding = "ISO-8859-1")

In [ ]:
foodcomex_compounds = pd.read_csv('foodcomex_compounds.csv', encoding = "ISO-8859-1")