Hello!

<a id = 'top'></a>

# Contents

- [Libraries and Functions]
- [Exploratory Data Analysis](#eda)

# Libraries and Functions

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import sqlite3

In [ ]:
#import plotly.plotly as py
#import plotly.figure_factory as ff

In [5]:
#For the ORM:
import sqlalchemy
from sqlalchemy import create_engine #To connect to the database
from sqlalchemy.orm import Session, sessionmaker #To interact with the database as object
from sqlalchemy import inspect #To look at tables and column names

In [ ]:
#needs plotly password
#df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/school_earnings.csv")

#table = ff.create_table(df)
#py.iplot(table, filename='jupyter-table1')

In [6]:
#Instantiate a session of the ORM
#Connect to the sqlite database file
engine = create_engine('sqlite:///foodb.db', echo = True)
#Bind a session factory to the engine
Session = sessionmaker(bind=engine)
#Instantiate a session
session = Session()

In [7]:
#An object to get a first look at the database
inspector = inspect(engine)

2019-03-12 16:58:40,991 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-03-12 16:58:40,992 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:40,995 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-03-12 16:58:40,996 INFO sqlalchemy.engine.base.Engine ()

In [8]:
#Make a dict of list of names of all the columns in all the tables
#for easy reference

#Get list of all table names
table_names = inspector.get_table_names()

tables_columns = dict()
#For each table name
for table in table_names:
    column_names = []
    #for each column in the table, get just the name
    for column in inspector.get_columns(table):
        column_names.append(column['name'])
    tables_columns[table] = column_names

2019-03-12 16:58:44,895 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-03-12 16:58:44,896 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,901 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compound_alternate_parents")
2019-03-12 16:58:44,902 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,906 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compound_external_descriptors")
2019-03-12 16:58:44,908 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,911 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compound_substituents")
2019-03-12 16:58:44,913 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,916 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compound_synonyms")
2019-03-12 16:58:44,917 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,921 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compounds")
2019-03-12 16:58:44,923 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,927 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compounds_enzymes")
2019-03-12 16:58:44,928 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,931 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compounds_flavors")
2019-03-12 16:58:44,933 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,936 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compounds_health_effects")
2019-03-12 16:58:44,936 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,939 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("compounds_pathways")
2019-03-12 16:58:44,941 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,944 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("enzymes")
2019-03-12 16:58:44,946 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,950 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("flavors")
2019-03-12 16:58:44,951 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,956 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("food_taxonomies")
2019-03-12 16:58:44,956 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,959 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("foodcomex_compound_providers")
2019-03-12 16:58:44,959 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,961 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("foodcomex_compounds")
2019-03-12 16:58:44,963 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,966 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("foods")
2019-03-12 16:58:44,970 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,974 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("health_effects")
2019-03-12 16:58:44,975 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,978 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("nutrients")
2019-03-12 16:58:44,980 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,982 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("pathways")
2019-03-12 16:58:44,983 INFO sqlalchemy.engine.base.Engine ()
2019-03-12 16:58:44,985 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("references")
2019-03-12 16:58:44,986 INFO sqlalchemy.engine.base.Engine ()

<a id = 'eda'></a>

[(Back to top)](#top)

# Exploratory Data Analysis
## Foods table

In [26]:
foods = pd.read_sql_query('''SELECT f.* 
                            FROM foods f
                            ;''', engine)

2019-03-12 17:22:25,655 INFO sqlalchemy.engine.base.Engine SELECT f.*
                            FROM foods f
                            ;
2019-03-12 17:22:25,657 INFO sqlalchemy.engine.base.Engine ()

In [27]:
foods.head()

,id,name,name_scientific,description,itis_id,wikipedia_id,wikipedia_id_img,picture_content_type,picture_file_size,picture_updated_at,...,food_subgroup,food_type,created_at,updated_at,creator_id,updater_id,export_to_afcdb,category,ncbi_taxonomy_id,export_to_foodb
0,1,Angelica,Angelica keiskei,Angelica is a genus of about 60 species of tal...,,Angelica,1.jpg,image/jpeg,111325,2012-04-20 09:29:57 UTC,...,Herbs,Type 1,2011-02-09 00:37:14 UTC,2017-06-27 17:13:48 UTC,,2,FALSE,specific,357850,TRUE
1,2,Savoy cabbage,Brassica oleracea var. sabauda,Savoy cabbage (Brassica oleracea convar. capit...,,Savoy cabbage,2.jpg,image/jpeg,155178,2012-04-20 09:39:54 UTC,...,Cabbages,Type 1,2011-02-09 00:37:15 UTC,2017-03-20 21:26:22 UTC,,,FALSE,specific,1216010,TRUE
2,3,Silver linden,Tilia argentea,Tilia tomentosa (Silver Lime in the UK and Sil...,,Tilia tomentosa,3.jpg,image/jpeg,56367,2012-04-20 09:41:25 UTC,...,Herbs,Type 1,2011-02-09 00:37:15 UTC,2015-10-02 21:24:39 UTC,,,FALSE,specific,,TRUE
3,4,Kiwi,Actinidia chinensis,"The kiwifruit, often shortened to kiwi in many...",506775,Kiwifruit,4.jpg,image/jpeg,110661,2012-04-20 09:32:21 UTC,...,Tropical fruits,Type 1,2011-02-09 00:37:15 UTC,2017-03-20 21:26:22 UTC,,,FALSE,specific,3625,TRUE
4,5,Allium (Onion),Allium,Allium haematochiton is a species of wild onio...,42634,Allium haematochiton,5.jpg,image/jpeg,341911,2012-04-20 09:37:44 UTC,...,Onion-family vegetables,Type 1,2011-02-09 00:37:15 UTC,2017-03-20 21:26:22 UTC,,,FALSE,specific,4678,TRUE

In [69]:
foods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 22 columns):
id                      907 non-null object
name                    907 non-null object
name_scientific         907 non-null object
description             907 non-null object
itis_id                 907 non-null object
wikipedia_id            907 non-null object
wikipedia_id_img        907 non-null object
picture_content_type    907 non-null object
picture_file_size       907 non-null object
picture_updated_at      907 non-null object
legacy_id               907 non-null object
food_group              907 non-null object
food_subgroup           907 non-null object
food_type               907 non-null object
created_at              907 non-null object
updated_at              907 non-null object
creator_id              907 non-null object
updater_id              907 non-null object
export_to_afcdb         907 non-null object
category                907 non-null object
ncbi_taxonomy_id        907 non-null object
export_to_foodb         907 non-null object
dtypes: object(22)
memory usage: 156.0+ KB

Columns to drop:

picture_updated_at	

created_at

updated_at

creator_id

updater_id

export_to_afcdb

export_to_foodb

In [24]:
foods.shape

(907, 22)

In [25]:
foods['name'].value_counts().sum(), foods['name'].value_counts().sum(), foods['id'].value_counts().sum()

(907, 907, 907)

### There are 907 foods in the database.

In [9]:
tables_columns['foods']

['id',
 'name',
 'name_scientific',
 'description',
 'itis_id',
 'wikipedia_id',
 'wikipedia_id_img',
 'picture_content_type',
 'picture_file_size',
 'picture_updated_at',
 'legacy_id',
 'food_group',
 'food_subgroup',
 'food_type',
 'created_at',
 'updated_at',
 'creator_id',
 'updater_id',
 'export_to_afcdb',
 'category',
 'ncbi_taxonomy_id',
 'export_to_foodb']

In [28]:
#alterante for food subgroup valuecounts
#pd.read_sql_query('''SELECT f.food_subgroup, 
#                        COUNT(f.name) foods
 #                       FROM foods f
 #                       GROUP BY f.food_subgroup
  #                      ORDER BY foods DESC
  #                  ;''', engine)

### Investigating Type 1 and Type 2

In [29]:
pd.read_sql_query('''SELECT f.food_subgroup, 
                        COUNT(f.food_subgroup) subgroup
                        FROM foods f
                        WHERE f.food_type == 'Type 1'
                        GROUP BY f.food_subgroup
                    ;''', engine)

2019-03-12 19:13:32,229 INFO sqlalchemy.engine.base.Engine SELECT f.food_subgroup,
                        COUNT(f.food_subgroup) subgroup
                        FROM foods f
                        WHERE f.food_type == 'Type 1'
                        GROUP BY f.food_subgroup
                    ;
2019-03-12 19:13:32,230 INFO sqlalchemy.engine.base.Engine ()

              food_subgroup  subgroup
0                Amphibians         1
1                     Beans        14
2                   Berries        55
3                   Bovines         4
4                  Cabbages        20
5                    Caprae         1
6                   Cereals        18
7                 Cetaceans         3
8                    Citrus         8
9                     Cocoa         1
10                   Coffee         3
11              Crustaceans        11
12                   Drupes         9
13                  Equines         1
14                   Fishes       110
15         Fruit vegetables        19
16                   Gourds        16
17              Herbal teas         2
18                    Herbs        61
19               Lagomorphs         3
20          Leaf vegetables        19
21                  Lentils         1
22               Marsupials         1
23                 Mollusks        17
24                Mushrooms         9
25                     Nuts        25
26            Oilseed crops        15
27  Onion-family vegetables         6
28      Other aquatic foods         4
29             Other fruits         3
30            Other mammals         4
31             Other pulses         2
32              Other seeds         7
33         Other vegetables        12
34                     Ovis         1
35                     Peas         8
36                Pinnipeds         6
37                    Pomes         6
38                  Poultry        15
39                  Rodents         4
40          Root vegetables        23
41                  Seaweed         8
42         Shoot vegetables         5
43                      Soy         1
44                   Spices        23
45         Stalk vegetables         3
46                    Swine         2
47                     Teas         1
48          Tropical fruits        43
49                   Tubers         8
50                  Venison         6

In [30]:
pd.read_sql_query('''SELECT f.food_subgroup, 
                        COUNT(f.food_subgroup) subgroup
                        FROM foods f
                        WHERE f.food_type == 'Type 2'
                        GROUP BY f.food_subgroup
                    ;''', engine)

2019-03-12 19:14:06,827 INFO sqlalchemy.engine.base.Engine SELECT f.food_subgroup,
                        COUNT(f.food_subgroup) subgroup
                        FROM foods f
                        WHERE f.food_type == 'Type 2'
                        GROUP BY f.food_subgroup
                    ;
2019-03-12 19:14:06,830 INFO sqlalchemy.engine.base.Engine ()

              food_subgroup  subgroup
0       Alcoholic beverages         2
1          American cuisine         3
2               Animal fats         4
3             Asian cuisine         2
4                Baby foods         1
5              Baking goods        13
6            Berber cuisine         1
7            Bread products         1
8                   Candies         8
9           Cereal products         8
10           Cocoa products         6
11          Coffee products         1
12               Condiments         4
13                 Desserts         7
14      Distilled beverages         6
15                   Doughs         2
16                Dressings         1
17      Fermented beverages         6
18  Fermented milk products         4
19          Fermented milks         3
20            Fish products         1
21              Flat breads         6
22          Fortified wines         5
23          Frozen desserts         4
24           Fruit products         3
25                   Gourds         1
26              Ground meat         5
27  Herb and spice mixtures         1
28           Jewish cuisine         1
29   Latin American cuisine         4
..                      ...       ...
33          Mexican cuisine         4
34            Milk desserts         2
35    Nutritional beverages         2
36                     Nuts         1
37            Oilseed crops         1
38      Other aquatic foods         1
39          Other beverages         6
40             Other breads         2
41    Other confectioneries         6
42             Other dishes        13
43      Other milk products         8
44             Pasta dishes         4
45            Potato dishes         3
46                      Roe         1
47               Sandwiches         6
48                   Sauces         1
49               Seasonings         3
50              Snack foods         8
51             Soy products         8
52                  Spreads         2
53              Substitutes         6
54                   Sugars         1
55             Sweet breads         1
56          Tex-Mex cuisine         4
57             Unclassified         1
58        Unfermented milks         7
59           Vegetable fats         3
60       Vegetable products         1
61                   Waters         1
62                 Wrappers         4

[63 rows x 2 columns]

### Type 1 looks like unprocessed or unprepared foods. Type 2 foods are processed or prepared.

In [51]:
#foods[foods['food_subgroup'] == 'Marsupials']

In [ ]:
#to drop: id 694 (subgroup Unclassified)
#id 685 (subgroup waters)

### Investigating NCBI Taxonomy ID

In [60]:
#Says no NA values but I see some in the head
foods['ncbi_taxonomy_id'].isna().sum()

0

In [72]:
foods['ncbi_taxonomy_id'].value_counts()b

           276
4072         6
3885         3
13427        3
135518       2
41679        2
4682         2
183260       2
190544       2
4679         2
3661         2
138011       2
37656        2
3714         2
16718        1
357850       1
34256        1
8113         1
66014        1
888065       1
9031         1
59166        1
37796        1
6565         1
9721         1
7797         1
167592       1
109171       1
2763         1
225387       1
          ...
49390        1
33637        1
195615       1
397755       1
36066        1
8112         1
106975       1
36181        1
42229        1
9103         1
4071         1
334483       1
4558         1
32219        1
6763         1
29780        1
1042646      1
4039         1
119950       1
7935         1
8017         1
3891         1
13493        1
30850        1
485725       1
103480       1
24663        1
403101       1
4681         1
66656        1
Name: ncbi_taxonomy_id, Length: 613, dtype: int64

In [57]:
foods[foods['ncbi_taxonomy_id'] == '4072']

,id,name,name_scientific,description,itis_id,wikipedia_id,wikipedia_id_img,picture_content_type,picture_file_size,picture_updated_at,...,food_subgroup,food_type,created_at,updated_at,creator_id,updater_id,export_to_afcdb,category,ncbi_taxonomy_id,export_to_foodb
39,40,Pepper (C. annuum),Capsicum annuum,<i>Capsicum annuum</i> is a domesticated speci...,30492,Capsicum_annuum,40.jpg,image/jpeg,45222,2012-04-20 09:37:27 UTC,...,Fruit vegetables,Type 1,2011-02-09 00:37:17 UTC,2017-03-20 21:26:23 UTC,,2,FALSE,specific,4072,TRUE
891,909,Green bell pepper,Capsicum annuum,Green bell peppers are members of the domestic...,30492,Capsicum_annuum,428px-Green-Bell-Pepper.jpg,image/jpeg,26784,2015-02-26 18:37:27 UTC,...,Fruit vegetables,Type 1,2015-02-26 18:37:27 UTC,2017-03-20 21:26:33 UTC,,,TRUE,specific,4072,TRUE
892,910,Yellow bell pepper,Capsicum annuum,Yellow bell peppers are members of the domesti...,30492,Capsicum_annuum,bell_pepper_yellow_2.png,image/png,25165,2015-02-26 18:42:45 UTC,...,Fruit vegetables,Type 1,2015-02-26 18:42:45 UTC,2017-03-20 21:26:34 UTC,,,TRUE,specific,4072,TRUE
893,911,Orange bell pepper,Capsicum annuum,Orange bell peppers are members of the domesti...,30492,Capsicum_annuum,orange-bell-pepper-02.jpg,image/jpeg,6881,2015-02-26 18:44:18 UTC,...,Fruit vegetables,Type 1,2015-02-26 18:44:18 UTC,2017-03-20 21:26:34 UTC,,,TRUE,specific,4072,TRUE
894,912,Red bell pepper,Capsicum annuum,Red bell peppers are members of the domesticat...,30492,Capsicum_annuum,red-bell-pepper.jpg,image/jpeg,76376,2015-02-26 18:47:15 UTC,...,Fruit vegetables,Type 1,2015-02-26 18:47:16 UTC,2017-03-20 21:26:34 UTC,,,TRUE,specific,4072,TRUE
895,913,Italian sweet red pepper,Capsicum annuum,The Italian sweet pepper is a variety of the s...,,Italian sweet pepper,939px-Italian_sweet_peppers.jpg,image/jpeg,124244,2015-02-26 18:54:22 UTC,...,Fruit vegetables,Type 1,2015-02-26 18:54:23 UTC,2017-03-20 21:26:34 UTC,,,TRUE,specific,4072,TRUE

### Some ncbis are repeated but all foods seem to have one.

### Investigating Category

In [74]:
foods['category'].value_counts()

specific    881
generic      26
Name: category, dtype: int64

In [100]:
generics = list(foods['name'][foods['category'] == 'generic'])
subgroups = list(set(foods['food_subgroup']))

In [106]:
len(generics)

26

In [103]:
generic_subgroups = []

for sub in subgroups:
    if any(generic in sub for generic in generics):
        generic_subgroups.append(sub)

In [109]:
len(set(generic_subgroups))

27

### The "generic" category is just 26 of the subgroups with a bit more information about each.

# Exploratory data analysis
## Enzymes table

In [110]:
enzymes = pd.read_sql_query('''SELECT e.* 
                            FROM enzymes e
                            ;''', engine)

2019-03-12 20:40:40,081 INFO sqlalchemy.engine.base.Engine SELECT e.*
                            FROM enzymes e
                            ;
2019-03-12 20:40:40,083 INFO sqlalchemy.engine.base.Engine ()

In [119]:
enzymes.shape

(1744, 32)

In [125]:
enzymes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1744 entries, 0 to 1743
Data columns (total 32 columns):
id                       1744 non-null object
name                     1744 non-null object
gene_name                1744 non-null object
description              1744 non-null object
go_classification        1744 non-null object
general_function         1744 non-null object
specific_function        1744 non-null object
pathway                  1744 non-null object
reaction                 1744 non-null object
cellular_location        1744 non-null object
signals                  1744 non-null object
transmembrane_regions    1744 non-null object
molecular_weight         1744 non-null object
theoretical_pi           1744 non-null object
locus                    1744 non-null object
chromosome               1744 non-null object
uniprot_name             1744 non-null object
uniprot_id               1744 non-null object
pdb_id                   1744 non-null object
genbank_protein_id       1744 non-null object
genbank_gene_id          1744 non-null object
genecard_id              1744 non-null object
genatlas_id              1744 non-null object
hgnc_id                  1744 non-null object
hprd_id                  1744 non-null object
organism                 1744 non-null object
general_citations        1744 non-null object
comments                 1744 non-null object
creator_id               1744 non-null object
updater_id               1744 non-null object
created_at               1744 non-null object
updated_at               1744 non-null object
dtypes: object(32)
memory usage: 436.1+ KB

In [137]:
enzymes['name'].value_counts().sum(), enzymes['gene_name'].value_counts().sum()

(1744, 1744)

### 1744 unique names and gene names. Linked to compounds.

### How many null values?

In [112]:
enzymes.head(3)

,id,name,gene_name,description,go_classification,general_function,specific_function,pathway,reaction,cellular_location,...,genatlas_id,hgnc_id,hprd_id,organism,general_citations,comments,creator_id,updater_id,created_at,updated_at
0,1,UDP-glucuronosyltransferase 2B28,UGT2B28,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2015-02-23 22:40:56,2015-02-23 22:40:56
1,2,Estrogen receptor beta,ESR2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2015-02-23 22:40:57,2015-02-23 22:40:57
2,3,UDP-glucuronosyltransferase 2B4,UGT2B4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,2015-02-23 22:40:57,2015-02-23 22:40:57

In [117]:
null_enzyme_descriptions = enzymes['description'] == 'NULL'

In [118]:
null_enzyme_descriptions.sum()

1744

In [121]:
enzymes[enzymes['description'] == 'NULL'].shape

(1744, 32)

In [122]:
enzymes[enzymes['go_classification'] == 'NULL'].shape

(1744, 32)

In [123]:
enzymes[enzymes['general_function'] == 'NULL'].shape

(1744, 32)

In [124]:
enzymes[enzymes['specific_function'] == 'NULL'].shape

(1744, 32)

In [131]:
for column in enzymes.columns:
    print(column, enzymes[enzymes[column] == 'NULL'].shape[0])

id 0
name 0
gene_name 0
description 1744
go_classification 1744
general_function 1744
specific_function 1744
pathway 1744
reaction 1744
cellular_location 1744
signals 1744
transmembrane_regions 1744
molecular_weight 1744
theoretical_pi 1744
locus 1744
chromosome 1744
uniprot_name 1744
uniprot_id 0
pdb_id 1744
genbank_protein_id 1744
genbank_gene_id 1744
genecard_id 1744
genatlas_id 1744
hgnc_id 1744
hprd_id 1744
organism 1744
general_citations 1744
comments 1744
creator_id 1744
updater_id 1744
created_at 0
updated_at 0

### Drop all columns except id, name, and gene_name.

In [136]:
enzymes['gene_name'].value_counts().sum()

1744

# Exploratory data analysis
## flavors table

In [139]:
flavors = pd.read_sql_query('''SELECT fl.* 
                            FROM flavors fl
                            ;''', engine)

2019-03-12 20:53:19,169 INFO sqlalchemy.engine.base.Engine SELECT fl.*
                            FROM flavors fl
                            ;
2019-03-12 20:53:19,170 INFO sqlalchemy.engine.base.Engine ()

In [146]:
flavors.head()

,id,name,flavor_group,category,created_at,updated_at,creator_id,updater_id
0,1,celery,vegetable,odor,2011-10-02 06:10:04,2011-10-02 06:10:04,NULL,NULL
1,2,corn,vegetable,odor,2011-10-02 06:10:04,2011-10-02 06:10:04,NULL,NULL
2,3,cucumber,vegetable,odor,2011-10-02 06:10:04,2011-10-02 06:10:04,NULL,NULL
3,4,horseradish,vegetable,odor,2011-10-02 06:10:05,2011-10-02 06:10:05,NULL,NULL
4,5,vegetable,vegetable,odor,2011-10-02 06:10:05,2011-10-02 06:10:05,NULL,NULL

In [150]:
flavors['name'].value_counts()

citral                         1
fungal                         1
dill                           1
clean                          1
paint                          1
maple syrup                    1
coriander                      1
prune                          1
heliotropin                    1
flower shop                    1
laundered cloths               1
cardamom                       1
green leaf                     1
paper                          1
burnt almonds                  1
laundry                        1
fecal                          1
waxy                           1
bark                           1
peppery                        1
cayloxol                       1
benzyl propionate              1
lemongrass                     1
linseed                        1
syrup                          1
cereal                         1
apple skin                     1
mild cooling                   1
pistachio                      1
freshly bruised sage leaves    1
                              ..
clove                          1
beer                           1
ground                         1
soil                           1
cabbage                        1
feta cheese                    1
egg                            1
lime blossom                   1
citric                         1
jam                            1
feet                           1
smoky                          1
red hots                       1
iodine                         1
fennel                         1
rosy                           1
boiled beef                    1
clover                         1
rotten                         1
hawthorn                       1
orange blossom                 1
clary                          1
cauliflower                    1
casky                          1
metal                          1
violet-leaf                    1
cherry                         1
cardboard                      1
dried berry                    1
curry                          1
Name: name, Length: 856, dtype: int64

In [151]:
flavors['flavor_group'].value_counts()

NULL             743
fruity            24
floral            14
balsamic          10
vegetable          8
fatty              7
wine_like          5
herbaceous         5
citrus             5
nutty              5
woody              4
chemical           3
meaty              3
green              3
earthy             3
spicy              2
musky              1
tobacco            1
smoky              1
minty              1
medicinal          1
camphoraceous      1
mossy              1
fishy              1
pepper             1
seedy              1
animal             1
soapy              1
Name: flavor_group, dtype: int64

In [153]:
flavors['category'].value_counts()

odor    856
Name: category, dtype: int64

In [156]:
table_names

['compound_alternate_parents',
 'compound_external_descriptors',
 'compound_substituents',
 'compound_synonyms',
 'compounds',
 'compounds_enzymes',
 'compounds_flavors',
 'compounds_health_effects',
 'compounds_pathways',
 'enzymes',
 'flavors',
 'food_taxonomies',
 'foodcomex_compound_providers',
 'foodcomex_compounds',
 'foods',
 'health_effects',
 'nutrients',
 'pathways',
 'references']

### Drop all columns except id, name, and flavor_group
### Will have to see later how compounds are connected to these descriptions of flavor. Disappointed that there are 856 unique descriptors ('name') and very few useful flavor_group designations.

# Exploratory Data Analysis
## Health effects table

In [157]:
health_effects = pd.read_sql_query('''SELECT he.* 
                            FROM health_effects he
                            ;''', engine)

2019-03-12 21:02:44,726 INFO sqlalchemy.engine.base.Engine SELECT he.*
                            FROM health_effects he
                            ;
2019-03-12 21:02:44,728 INFO sqlalchemy.engine.base.Engine ()

In [158]:
health_effects.shape

(1435, 10)

In [159]:
health_effects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 10 columns):
id                  1435 non-null object
name                1435 non-null object
description         1435 non-null object
chebi_name          1435 non-null object
chebi_id            1435 non-null object
created_at          1435 non-null object
updated_at          1435 non-null object
creator_id          1435 non-null object
updater_id          1435 non-null object
chebi_definition    1435 non-null object
dtypes: object(10)
memory usage: 112.2+ KB

In [160]:
health_effects.head()

,id,name,description,chebi_name,chebi_id,created_at,updated_at,creator_id,updater_id,chebi_definition
0,1,(+)-inotropic,An agent that alters the force or energy of mu...,NULL,NULL,2012-04-10 10:05:13,2015-11-11 02:32:19,NULL,NULL,NULL
1,2,(-)-chronotropic,An agent that may change theÂ heartÂ rate by a...,NULL,NULL,2012-04-10 10:05:13,2015-11-11 02:32:19,NULL,NULL,NULL
2,3,(-)-inotropic,An agent that alters the force or energy of mu...,NULL,NULL,2012-04-10 10:05:13,2015-11-11 02:32:19,NULL,NULL,NULL
3,4,11beta-hydroxysteroid-dehydrogenase inhibitor,NULL,enzyme inhibitor,23924,2012-04-10 10:05:13,2015-10-27 17:47:35,NULL,NULL,A compound or agent that combines with an enzy...
4,5,12-lipoxygenase inhibitor,NULL,enzyme inhibitor,23924,2012-04-10 10:05:13,2015-10-27 17:47:36,NULL,NULL,A compound or agent that combines with an enzy...

In [161]:
for column in health_effects.columns:
    print(column, health_effects[health_effects[column] != 'NULL'].shape[0])

id 1435
name 1435
description 619
chebi_name 710
chebi_id 710
created_at 1435
updated_at 1435
creator_id 0
updater_id 0
chebi_definition 698

In [162]:
#Are the rows with a non-null chebi_id the same as the rows with a non-null chebi_name?
chebi_ids = health_effects[health_effects['chebi_id'] != 'NULL']

In [165]:
chebi_name = health_effects[health_effects['chebi_name'] != 'NULL']

In [167]:
trues = chebi_ids == chebi_name

### Drop created_at, updated_at, creator_id, updater_id

# Exploratory Data Analysis
## Nutrients table

In [ ]:
nutrients = pd.read_sql_query('''SELECT n.* 
                            FROM nutrients n
                            ;''', engine)

# Exploratory data analysis
## Pathways table

In [ ]:
pathways = pd.read_sql_query('''SELECT pa.* 
                            FROM pathways pa
                            ;''', engine)

# Exploratory data analysis
## References table

In [ ]:
references = pd.read_sql_query('''SELECT r.* 
                            FROM references r
                            ;''', engine)

# Exploratory data analysis
## food taxonomies table

In [ ]:
food_taxonomies = pd.read_sql_query('''SELECT ft.* 
                            FROM food_taxonomies ft
                            ;''', engine)

# Exploratory data analysis
## foodcomex compound providers  table

In [ ]:
foodcomex_compound_providers = pd.read_sql_query('''SELECT fcp.* 
                            FROM foodcomex_compound_providers fcp
                            ;''', engine)

# Exploratory data analysis
## foodcomex compounds  table

In [ ]:
foodcomex_compounds = pd.read_sql_query('''SELECT fc.* 
                            FROM foodcomex_compounds fc
                            ;''', engine)

# Exploratory data analysis
## compounds table

In [ ]:
compounds = pd.read_sql_query('''SELECT c.* 
                            FROM compounds c
                            ;''', engine)

# Exploratory data analysis
## compound alternate parents table

In [ ]:
compound_alternate_parents = pd.read_sql_query('''SELECT cap.* 
                            FROM compounds_alternate_parents cap
                            ;''', engine)

# Exploratory data analysis
## compound external descriptors

In [ ]:
compound_external_descriptors = pd.read_sql_query('''SELECT ced.* 
                            FROM compound_external_descriptors ced
                            ;''', engine)

# Exploratory data analysis
## compound substituents

In [ ]:
compound_substituents = pd.read_sql_query('''SELECT csu.* 
                            FROM compound_substituents csu
                            ;''', engine)

# Exploratory data analysis
## compound synonyms table

In [ ]:
compound_synonyms = pd.read_sql_query('''SELECT csy.* 
                            FROM compound_synonyms csy
                            ;''', engine)

In [ ]:
['compound_alternate_parents',
 'compound_external_descriptors',
 'compound_substituents',
 'compound_synonyms',
 'compounds',
 'compounds_enzymes',
 'compounds_flavors',
 'compounds_health_effects',
 'compounds_pathways',
 'enzymes',
 'flavors',
 'food_taxonomies',
 'foodcomex_compound_providers',
 'foodcomex_compounds',
 'foods',
 'health_effects',
 'nutrients',
 'pathways',
 'references']

# Exploratory data analysis
## compounds enzymes table

In [ ]:
compounds_enzymes = pd.read_sql_query('''SELECT ce.* 
                            FROM compounds_enzymes ce
                            ;''', engine)

# Exploratory data analysis
## compounds flavors table

In [ ]:
compounds_flavors = pd.read_sql_query('''SELECT cf.* 
                            FROM compounds_flavors cf
                            ;''', engine)

# Exploratory data analysis
## compounds health effects table

In [ ]:
compounds_health_effects = pd.read_sql_query('''SELECT che.* 
                            FROM compounds_health_effects che
                            ;''', engine)

# Exploratory data analysis
## compounds pathways table

In [ ]:
compounds_pathways = pd.read_sql_query('''SELECT cp.* 
                            FROM compounds_pathways cp
                            ;''', engine)

In [ ]:
###############################################################################################

In [ ]:
#This encoding works with Windows.
foods = pd.read_csv('foods.csv', encoding = "ISO-8859-1")

In [ ]:
foods.head()

In [ ]:
compounds = pd.read_csv('compounds.csv', encoding = "ISO-8859-1")

In [ ]:
compounds_flavors = pd.read_csv('compounds_flavors.csv', encoding = "ISO-8859-1")

In [ ]:
foodcomex_compounds = pd.read_csv('foodcomex_compounds.csv', encoding = "ISO-8859-1")